<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>

    <link rel="stylesheet" href="assets/css/animate-3.7.0.css">
    <link rel="stylesheet" href="assets/css/font-awesome-4.7.0.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-4.1.3.min.css">
    <link rel="stylesheet" href="assets/css/owl-carousel.min.css">
    <link rel="stylesheet" href="assets/css/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="assets/css/linearicons.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body id="loginBody">
<div class="container">
    <div class="jumbotron offset-2 col-md-8" style="background-color: #EEF0EF; padding-top: 5px;">
        <div class="button row col-md-4 offset-md-8">
            <a th:href="@{/}" style="text-decoration: black;">
                <span class="fa fa-arrow-left"></span>
                Back to HomePage
            </a>
        </div>
        <div class="col-md-12" style="font-size: 20px; text-align: center;">
            Register
        </div>
        <form  th:object="${staff}" th:action="@{/registerStaff}" action="/register" method="post">
            <div class="form-row">
                <div class="form-group col-md-12 col-sm-12">
                    <label for="firstName">
                        * FirstName
                    </label>
                    <input required="required" type="text" th:field="*{firstName}" class="form-control" id="firstName" placeholder="firstName" name="firstName"/>
                </div>
                <div class="form-group col-md-12 col-sm-12">
                    <label for="lastName">
                        * LastName
                    </label>
                    <input required="required" type="text" th:field="*{lastName}" class="form-control" id="lastName" placeholder="lastName" name="lastName"/>
                </div>
                <div class="form-group col-md-12 col-sm-12">
                    <label for="middleName">
                        * Middle Name
                    </label>
                    <input required="required" type="text" th:field="*{middleName}" class="form-control" id="middleName" placeholder="middleName" name="middleName"/>
                </div>
                <div class="form-group col-md-12 col-sm-12">
                    <label for="department">
                        * Department
                    </label>
                    <input required="required" type="text" th:field="*{department}" class="form-control" id="department" placeholder="Department" name="department"/>
                </div>
                <div class="form-group col-md-12 col-sm-12">
                    <label for="Sex">
                        * Sex
                    </label>
                    <p class="text-danger" th:if="${InvalidSex}==true">Invalid Sex</p>
                    <input required="required" type="text" class="form-control" id="Sex" placeholder="Sex" name="Sex"/>
                </div>
                <div class="form-group col-md-12 col-sm-12">
                    <label for="CompanyId">
                        * Comapny Id
                    </label>
                    <input required="required" type="text" th:field="*{companyID}" class="form-control" id="CompanyId" placeholder="CompanyId" name="CompanyId"/>
                </div>
                <div class="form-group col-md-12 col-sm-12">
                    <label for="Password">
                        * Password
                    </label>
                    <p class="text-danger" th:if="${PasswordMisMatch}== true"> Password don't Match</p>
                    <input required="required" type="Password" th:field="*{password}" class="form-control" id="password" placeholder="Password" name="password"/>
                </div>
                <div class="form-group col-md-12 col-sm-12">
                    <label for="Confirm Password">
                        * Confirm Password
                    </label>
                    <input required="required" type="Password" class="form-control" id="Confirm Password" placeholder="Confirm Password" name="cpassword"/>
                </div>
                <div class="text-center mx-auto col-md-12 col-sm-12" style="margin-top:10px;">
                    <button style="color: white;" class="btn btn-danger col-md-12"><i class="fa fa-user"></i><span> </span> Sign up</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="js/jquery.js" type="text/javascript" rel="script"></script>
</body>

</html>